.content
{
    margin-top: 1rem;
}
.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

.countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #6c181c;
    display: inline-block;
}

.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #332e6c;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}
.task__changeStatus,
.task__submitStatus
{
    height: 30px;
    border-radius: 3px;
}
.atts__block
{
    display: flex;
    flex-wrap: wrap;
}
.atts__item
{
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    background: #332e6c;
    color: #fff;
}
.enddeadline
{
    border-radius: 10px;
    background: #970000;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
}
#calendar {
    max-width: 80%;
    margin: 0 auto;
}
.fc-right
{
    display: none;
}
.form-group
{
    display: flex;
    flex-direction: column;
}
.change__dev
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.change__dev label
{
    width: 100%;
    display: block;
}
.btn
{
    cursor: pointer;
}
.box-footer
{
    margin-top: 10px;
}
.raiting__block
{
    display: flex;
    flex-direction: row;
}
.raiting__block div
{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}
.devs__item input[type=radio]
{
    opacity: 0;
    position: absolute;
}
.devs__item
{
    padding: 5px;
    width: 200px;
    margin-bottom: 20px;
}
.devs__item.active
{
    border: 1px solid red;
}
.change__dev__form
{
    display: flex;
    flex-direction: column;
}
.change__dev__form button[type=submit]
{
    width: 200px;
}



/**/